<div>
  <div> <!-- *PAGINATOR -->
      <p-paginator
        [rows]="pageSize"
        [totalRecords]="actorsAll.length"
        [pageLinkSize]="0"
        (onPageChange)="getPage($event)"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showJumpToPageDropdown]="true"
      ></p-paginator>
  </div>


  <div class="center-div"> <!-- *CARD -->
    <div *ngIf="actors">
      <ng-container *ngFor="let actor of actors">
        <p-card class="card" header="{{ actor.FirstName }} {{actor.LastName}} " subheader="" [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
              <img alt="Card" src="assets/actor.png">
            </ng-template>
            <p>Liste des films</p>
            
            <ng-template pTemplate="footer">
            
            </ng-template>
        </p-card>
        </ng-container>
    </div>
  </div>
</div>
